[submodule "aepp-blockchain-explorer"]
	path = aepp-blockchain-explorer
	url = https://andi-apeunit@github.com/aeternity/aepp-blockchain-explorer
[submodule "aepp-components"]
	path = aepp-components
	url = https://andi-apeunit@github.com/aeternity/aepp-components
[submodule "aepp-prototypes"]
	path = aepp-prototypes
	url = https://andi-apeunit@github.com/aeternity/aepp-prototypes
[submodule "aepp-sdk-docs"]
	path = aepp-sdk-docs
	url = https://andi-apeunit@github.com/aeternity/aepp-sdk-docs
[submodule "aepp-sdk-js"]
	path = aepp-sdk-js
	url = https://andi-apeunit@github.com/aeternity/aepp-sdk-js
[submodule "aepp-sdk-python"]
	path = aepp-sdk-python
	url = https://andi-apeunit@github.com/aeternity/aepp-sdk-python
[submodule "tutorials"]
	path = tutorials
	url = https://andi-apeunit@github.com/aeternity/tutorials
