<footer class="clearfix">
    <div class="container-custom">

        <div class="presentation">
            <a class="logo" href="https://www.aeternity.com/" target="_blank">
                <img src="{{ "/assets/images/logo-big.svg " | relative_url }}" alt="">
            </a>
            <p>Scalable smart contracts interfacing with real world data</p>
            <span>&copy;
                <a href="https://www.aeternity.com/" target="_blank">aeternity.com</a>
            </span>
        </div>

        <div class="footer-nav">
            <div class="links menu">
                <ul>
                    <li>
                        <a href="http://aepps.com">Consumer</a>
                    </li>
                    <li>
                        <a href="http://aepps.com/aepps">All æpps</a>
                    </li>
                    <li>
                        <a href="/imprint">Imprint</a>
                    </li>
                </ul>
            </div>
            <div class="links icons">
                <ul>
                    <li>
                        <a href="https://github.com/aeternity" target="_blank">
                            <img src="{{ "/assets/icons/ic-github.svg " | relative_url }}" alt="Github">Github</a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/Aeternity" target="_blank">
                            <img src="{{ "/assets/icons/ic-reddit.svg " | relative_url }}" alt="Reddit">Reddit</a>
                    </li>
                    <li>
                        <a href="https://blog.aeternity.com" target="_blank">
                            <img src="{{ "/assets/icons/ic-medium.svg " | relative_url }}" alt="Medium">Medium</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSc61kY-707G616uFq96Nt3pGc1n7XDaUgEsvzANsot7x3fC2w/viewform" target="_blank">
                            <img src="{{ "/assets/icons/ic-slack.svg " | relative_url }}" alt="Slack">Slack</a>
                    </li>
                </ul>
            </div>
            <div class="links icons">
                <ul>
                    <li>
                        <a href="https://telegram.me/aeternity" target="_blank">
                            <img src="{{ "/assets/icons/ic-telegram.svg " | relative_url }}" alt="Telegram">Telegram</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/aeternityproject" target="_blank">
                            <img src="{{ "/assets/icons/ic-facebook.svg " | relative_url }}" alt="Facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/aetrnty" target="_blank">
                            <img src="{{ "/assets/icons/ic-twitter.svg " | relative_url }}" alt="Twitter">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/aeternity" target="_blank">
                            <img src="{{ "/assets/icons/ic-linkedin.svg " | relative_url }}" alt="LinkedIn">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
