<header>
    <div class="container-custom">
        <a class="logo" href="{{ "/" | relative_url }}">
            <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="æternity">
        </a>

        <!--
        <a class="header-menu-link" href="https://bounties.aepps.com">Bounties</a>
        -->
        <a class="header-menu-link" href="https://components.aepps.com" target="_blank">Components</a>
        <a class="btn" href="https://aepps.com" target="_blank">Discover æpps</a>

        <button id="open-menu" class="btn"></button>
    </div>
</header>
