<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <div class="container-custom">
        <button id="close-menu"></button>
        <ul>
            <!--
            <li>
                <a href="http://bounties.aepps.com">Bounties</a>
            </li>
            -->
            <li>
                <a href="http://components.aepps.com">Components</a>
            </li>
            <li>
                <a href="http://aepps.com">Consumer</a>
            </li>
        </ul>

        <div class="secondary-links">
            <a href="/imprint">Imprint</a>
        </div>

        <div class="sidebar-icons">
            <div>
                <a href="https://github.com/aeternity" target="_blank">
                    <img src="{{ "/assets/icons/ic-github-white.svg " | relative_url }}" alt="Github">
                </a>
                <a href="https://blog.aeternity.com" target="_blank">
                    <img src="{{ "/assets/icons/ic-medium-white.svg " | relative_url }}" alt="Medium">
                </a>
                <a href="https://telegram.me/aeternity" target="_blank">
                    <img src="{{ "/assets/icons/ic-telegram-white.svg " | relative_url }}" alt="Telegram">
                </a>
                <a href="https://twitter.com/aetrnty" target="_blank">
                    <img src="{{ "/assets/icons/ic-twitter-white.svg " | relative_url }}" alt="Twitter">
                </a>
            </div>

            <div>
                <a href="https://www.reddit.com/r/Aeternity" target="_blank">
                    <img src="{{ "/assets/icons/ic-reddit-white.svg " | relative_url }}" alt="Reddit">
                </a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSc61kY-707G616uFq96Nt3pGc1n7XDaUgEsvzANsot7x3fC2w/viewform" target="_blank">
                    <img src="{{ "/assets/icons/ic-slack-white.svg " | relative_url }}" alt="Slack">
                </a>
                <a href="https://www.facebook.com/aeternityproject" target="_blank">
                    <img src="{{ "/assets/icons/ic-facebook-white.svg " | relative_url }}" alt="Facebook">
                </a>
                <a href="https://www.linkedin.com/company/aeternity" target="_blank">
                    <img src="{{ "/assets/icons/ic-linkedin-white.svg " | relative_url }}" alt="LinkedIn">
                </a>
            </div>
        </div>
    </div>
</nav>
