{% capture html %}
<ul class="navigation" id="navigation">
  {% for sec in site.data.nav %}

    {% assign parentloopindex = forloop.index%}

        <li data-id="{{parentloopindex}}">
            <a class="parent">{{ sec.section }}</a>

          {% if sec.subpages[0] %}
          <ul class="navigation-inner">
            {% for sp in sec.subpages %}

            <li>
                <a
                  {% if  page.url == sp.page.link %}class="active"{% endif %}
                  href="{{ sp.page.link }}"
                  {% if sp.page.external==true %}target="_blank"{% endif %}>{{ sp.page.label }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}

        </li>
    {% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
