{% capture html %}
<ul class="navigation" id="navigation">
  {% for sec in site.data.nav %}

    {% assign parentloopindex = forloop.index%}

      {% if parentloopindex == 1 %}
        <li class="open">
            <a class="current parent">{{ sec.section }}</a>
      {% else %}
        <li>
            <a class="parent">{{ sec.section }}</a>
      {% endif %}

      {% if sec.subpages[0] %}
      <ul class="navigation-inner">
        {% for sp in sec.subpages %}
        {% assign childloopindex = forloop.index%}
        <li>
            <a class="{% if page.url == sp.page.link %}active{% endif %}" href="{{ sp.page.link }}">{{ sp.page.label }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

    </li>
    {% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}