@import url("//fonts.googleapis.com/css?family=Roboto");
@import url("//fonts.googleapis.com/css?family=Roboto+Mono");

@import url("//cdn.rawgit.com/necolas/normalize.css/master/normalize.css");

@import url("milligram.css");
@import url("rouge.css");

:root {
	--bg-color: #fafafa;
	--fg-color: #000000;
	--hl-color: #f7296e;

	--border: 1px solid rgba(0,0,0,0.07);

	--base-height: 1em;
	--header-height: 50px;

	--min-width: 360px;

	--content-width: 800px;
	--sidebar-width: 300px;
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	max-height: 100%;
	min-width: var(--min-width);
	overflow: hidden;
}

body {
	color: var(--color);
	font-family:"Roboto", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--hl-color);
	text-decoration: none;
}

code, pre, table {
	font-family: "Roboto Mono", monospace;
}

/*
pre {
	margin-bottom: calc(var(--base-height) * 2) !important;
}
*/

.wrapper {
	display: flex;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	overflow: hidden;
	width: 100%;
}

.sidebar {
	border-right: var(--border);
	color: var(--fg-color);
	display: block;
	height: 100%;
	max-width: var(--sidebar-width);
	overflow: hidden;
	padding: 0;
	width: 20%;
}

.sidebar .sidebar-main {
	background: var(--bg-color);
	height: 100%;
	padding: var(--base-height);
}

.sidebar .sidebar-mobile {
	display: none;
	height: var(--header-height);
	padding: var(--base-height);
	text-align: right;
}

.sidebar .sidebar-mobile .close-icon,
.sidebar .sidebar-mobile .menu-icon {
	cursor: pointer;
	display: none;
	height: auto;
	width: 18px;
}

.search {
	border-bottom: var(--border);
	height: var(--header-height);
	padding: 0 var(--base-height);
}

.search .search-input {
	border: none;
	font-size: 0.9em;
	font-weight: 300;
	height: 100%;
	width: 100%;
}

.navigation {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.navigation li {
	margin: 0;
	padding: 10px 15px;
}

.navigation a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.navigation a.active {
	color: var(--hl-color);
}

.content {
	color: var(--fg-color);
	display: flex;
	height: 100%;
	justify-content: center;
	line-height: 1.7;
	min-height: 100%;
	overflow-y: auto;
	width: 100%;
	word-wrap: break-word;
}

.inner {
	max-width: var(--content-width);
	padding: var(--base-height) calc(var(--base-height) * 2) calc(var(--base-height) * 3) var(--base-height);
	width: 100%;
}

.section {
	margin-bottom: var(--base-height);
}

@media (max-width: 745px) {
	.wrapper {
		flex-direction: column;
	}

	.sidebar {
		border-right: none;
		height: var(--header-height);
		max-width: 100%;
		width: 100%;
	}

	.sidebar .sidebar-mobile {
		display: block;
	}

	.sidebar .sidebar-mobile .menu-icon {
		display: inline;
	}

	.sidebar.opened {
		border-bottom: var(--border);
		height: auto;
		overflow: visible;
	}

	.sidebar.opened .sidebar-mobile {
		background: var(--bg-color);
	}

	.content {
		height: calc(100% - var(--header-height));
		margin-top: 0;
		min-height: calc(100% - var(--header-height));
		width: 100%;
	}

	.inner {
		padding: var(--base-height);
	}
}
